@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#nav {
  background-color: #074a98;
  font-family: 'Poppins', sans-serif;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
}

#nav-text {
  font-size: 2.5rem;
  color: #fff;
}

#nav-btn {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
#employee-bg {
    background-color: #d2deec ;
    
}
